body {
  color: #D1D1D1;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;/*font-family: 'Merriweather', serif; */
  background-color: #1C1527;
}

.top_bg{
  text-align: center;
  font-size: 35px
}
.navbar{
  padding: 0.2em;
/*-- enables grid layout--*/
  display: grid;
  grid-template-rows: (auto auto auto auto);
  text-align: center;
}

.nav-item{
  background-color: #67374E;
}

.navbar{
  grid-template-areas:
                     "tab1 tab2 tab3 tab4";
}

.one {
  grid-area: tab1;
}
.two {
  grid-area: tab2;
}
.three {
  grid-area: tab3;
}
.four {
  grid-area: tab4;
}
