body {
  color: #D1D1D1;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;/*font-family: 'Merriweather', serif; */
  background-color: #1C1527;
}

footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D1D1D1;
  background-color: #67374E;
}

img {
  max-width:100%;
}

.top_bg{
  display: flex;
  padding: 0px;
  position:relative;
  text-align: center;
  font-size: 50px
}

.toptext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar{
  padding: 0em;
  display: grid;
  grid-template-rows: (auto auto auto auto);
  text-align: center;
  font-size: 22px;
}

.nav-item{
  background-color: #67374E;
}

.navbar{
  grid-template-areas:
                     "tab1 tab2 tab3 tab4";
}

.one {
  grid-area: tab1;
}
.two {
  grid-area: tab2;
}
.three {
  grid-area: tab3;
}
.four {
  grid-area: tab4;
}

.contentpanel{
  display:grid;
  grid-template-columns: (auto auto auto auto);
}

.the-content{
  background-color:#1C1527;
}

.contentpanel{
  font-family: 'Merriweather', serif;
  font-size: 25px;
  grid-template-areas:
                      "pan1"
                      "pan2"
                      "pan3"
                      "pan4";
}

.mask{
  grid-area: pan1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.maskpic{
  flex-basis: 50%;
}


.masktext{
  flex-basis: 50%;
  text-align: center;
}


.art{
  grid-area: pan2;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.arttext{
  flex-basis: 50%;
  text-align: center;
}

.artpic{
  flex-basis:50%;
}


.game{
  grid-area: pan3;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.gametext{
  flex-basis: 50%;
  text-align: center;
}

.gamepic{
  flex-basis:50%;
}

.fourth{
  grid-area: pan4;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.fourthtext{
  flex-basis: 50%;
  text-align: center;
}

.fourthpic{
  flex-basis:50%;
}
